/* 
========
Navbar
========
*/

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 2rem 0 0 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.nav-center {
    width: 90vw;
    max-width: 1120px;
    /* background: red; */
}

.nav-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {}

.nav-header img {
    width: 200px;
}

.nav-btn {
    padding: 0.15rem 0.75rem;
}

.nav-btn i {
    font-size: 1.25rem;
}

.nav-link {
    display: inline-flex;

}

.nav-link>a {
    margin: 0 3rem;
}


.nav-btn {
    display: none;
}

.nav-link:hover {
    color: blue;
}

.contact-link a {
    padding: 0.15rem 1rem;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .nav-links .nav-link {
       display: none;
    }
    
    .nav-link > a {
        border-top: 1px solid;
        border-color: grey;
        width: 100%;
        
    }
    
    .nav-link a:first-child {
        border-top: none;
    }
/* 
    .show-links {
        display: inline-block;
        margin: 0 -1rem;
    } */
    
    .show-links .nav-link {
        /* height: 351px; */
        overflow: hidden;
        transition: 0.3 ease-in-out all;
        margin: .5rem 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        text-transform: capitalize;
        color: grey;
        letter-spacing: 2px;
        padding: 1rem 0;
        transition: grey;
        text-decoration: none;
        font-size: 20px;
        position: relative;
        top: 15rem;
        left: -70%;
    }

    .contact-link {
        max-width: fit-content;
        padding: 1rem;
        background-color: blue;
        align-items: center;
        left: -80px;
        
    }
    
    .contact-link {
        display: flex;
        
    }
    
    .content-btn {
        color: #fff;
    }

    .nav-btn {
        display: inline-block;
        position: absolute;
        top: 5rem;
        right: 3rem;
    }
}
    .nav-links a{
        font-size: 21px;
        letter-spacing: 2px;
        text-decoration: none;
        justify-content: space-between;
    }


    @media screen and (min-width:992px) {
        .nav-btn {
            display: none;
        }
        .navbar {
            height: 6rem;
        }
        .nav-center {
          display: flex;
          align-items: center;  
        }
        .nav-header{
            height: auto;
            margin-right: 2rem;
        }
        .nav-links {
            height: auto;
            flex-direction: row;
            align-items: center;
            width: 100%;
            /* background: red; */
        }
        .nav-link {
            padding: 0;
            border-top: none;
            margin-right: 1rem;
            font-size: 1rem;
        }
        .contact-link {
            margin-left: auto;
            margin-right: 0;
            background: #5C7AEA;
            
            
        }
    }


/* 
========
Page
========
*/
.page {
    /* background:red; */
    width: 90vw;
    max-width: 992px;
    margin: 0 auto;
    padding-top: 2rem;
    min-height: calc(100vh - (6rem + 4rem));
}
/* 
========
footer
========
*/
.page-footer {
    height: 4rem;
    /* text-align: center; */
    background: black;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;

}
.page-footer p {
    margin-bottom: 2;
}

.footer-logo , .page-footer a{
   color: #645cff; 
}
/* 
========
Hero
========
*/

.hero {
    height: 40vh;
    background: url(../Assets/food.jpg) center/cover no-repeat;
    margin-bottom: 2rem;
    border-radius: 4px;
    position: relative;

}

.hero-container {
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.4)
    
}

/* 
========

========
*/
.hero-text {
    font-size: 19px;
    color: #fff;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .hero-text h1 {
        font-size: 4rem;
    }
}


/* 
========
Recipes
========
*/
.recipes-container {
    display:grid;
    gap: 2rem 1rem;
    border: 2px solid red;
}
.tag-container {
    border: 2px solid blue;
    order: 1; 
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.recipes-list {
     display: grid;
     gap: 2rem 1rem;
     padding-bottom: 3rem;
    border: 2px solid green;
}

.tag-container {
    margin-bottom: 0.5rem;
    font-weight: 500;   
}

.tags-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tags-list a {
    text-transform: capitalize;
    display:block;
    color: grey;
    transition: all .3s ease;
}

.tags-list a:hover {
    color: dimgray;
}

.recipe {
    display: block;
}

.recipe-img {
    height: 15rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.recipe h5 {
    margin-bottom: 0;
    line-height: 1;
    color: grey;
}

.recipe p {
    margin-bottom: 0;
    line-height: 1;
    margin-top: 0.5rem;
    color: grey;
    letter-spacing: 2px;
}

@media screen and (min-width: 576px) {
    .recipes-list {
        grid-template-columns: 1fr 1fr;
    }
    .recipe-img {
        height: 10rem;
    }
}

@media screen and (min-width: 992px) {
    .recipes-container {
        grid-template-columns: 600px 1fr
    }
    .recipe p {
        font-size: 0.85rem;
    }
    .tags-container {
        order: 0;
    }
    .tags-list {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1200px) {
    
}


/* 
========

========
*/